.POI {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.POI__controls {
  padding-bottom: 2rem;
}
.POI .row.row-input{
  
}
.POI .row.row-btn{
  padding-bottom: 1rem;
}
.POI .row.row-map{
  flex: 1;
}
.POI__label {
  font-size: 16px;
}
.POI__input {
  width: 100%;
  height: 400px;
  outline: none;
}
.POI__buttons button {
  margin: 0 .5rem;
}