.POIFormatter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.POIFormatter .col {
  padding: 1rem;
  width: 100%;
  height: 500px;
}
.POIFormatter .col textarea {
  width: 100%;
  height: 100%;
  outline: none;
}